# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Multilingual Online Translator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
